
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<script type="text/javascript" src="/static/mathjax-MathJax-f5cd294/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			MathJax.Hub.Config({				
				displayAlign: "left",
				tex2jax: {inlineMath: [['$$','$$'],['\\[','\\]']], displayMath:[]} 
			})
		</script>
		<link href="/static/css/style2.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body>
		{% include 'header.html' %}
		<div id="body-wrapper" class="clearfix">
			<div class="topclear"></div>
			<div id="content">
				<div class="post">
					<h1>{{page_title}}</h1>
					<h2>Select your Question:</h2>
					<div style="clear: both;">&nbsp;</div>
					<div class="entry">
						<div align="left">					
							<a style="color:green;font-size:5;font-family:Arial;font-style:italic;font-weight:bold">Total Questions: {{num_q}}</a>
							<br /><br />
							<form action="/math_admin_form/{{list_type}}/{{page_no}}/{{subj_id}}/{{list_id}}/-1/" method="get">
								<input type="submit" class="btn" id="submit"  name="attempt"  value="Insert New Question"/>
							</form>
							<br /><br />
							<table frame='box' rules='all' width='100%' border='2'>
								<tr>
									<td rowspan='2' width='90px'>Question Id</td>
									<td rowspan='2' width='90px'>Paper</td>
									<td colspan='3'>Question Summary</td>											
								</tr>
								<tr>
									<td>Topic</td>
									<td width='90px'>Solutions</td>
									<td width='50px'>_</td>
								</tr>
							</table>
							{% for q in questions %}											
								<form action="/math_admin_form/{{list_type}}/{{page_no}}/{{subj_id}}/{{list_id}}/{{q.id}}/" method="get">
									<table frame='box' rules='all' width='100%' border='2'>
										<tr>
											<td rowspan='2' width='90px'>{{q.id}}</td>
											<td rowspan='2' width='90px'>{{q.paper}}</td>
											<td colspan='3'>{{q.display}}</td>													
										</tr>
										<tr>
											<td>{{q.subtopic}}</td>
											<td width='90px'>{{q.sol_type}}</td>
											<td width='50px'><input type="submit" class="btn" id="submit" name="attempt"  value="Modify"/></td>
										</tr>
									</table>
								</form>												
							{% endfor %}
							<br/><br/>
							<div class="pagination dark">
							{% for p in page_links %}
								{% if page_no == p %}
									<span class="page dark active">{{p}}</span>
								{% else %}
									<a href='/math_admin_list/{{list_type}}/{{subj_id}}/{{p}}/?list_id={{list_id}}' class='page dark gradient'>{{p}}</a>
								{% endif %}
							{% endfor %}
							</div>
							<br/><br/>
							
						</div>
						<br/>

						<a href="/math_admin/{{subj_id}}/">
							<span value="back to paper list">
								<font size="3" face="arial" color="green"><b>Back to Admin List</b></font>
							</span>
						<a>	
					</div>	
				</div>
				<div class="clear"></div>
			</div>
		</div>
		{% include 'footer.html' %}
	</body>
</html>