
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/style2.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body>
		{% include 'header.html' %}
		<div id="body-wrapper" class="clear-fix">
			<div class="topclear"></div>
			<div id="left-navigation">
				{% include 'sidebar.html' %}
			</div>
			<div id="content">
				<div class="post">
					<h1>Analyzer Main</h1>
					<p>Welcome to the Analyzer section. Below are the choice of analysis.</p>
					<br/>
					<br/>
					<br/>
				</div>
				<div class="clear"></div>
			</div>
			{% include 'footer.html' %}
		</div>
	</body>
</html>