<div id="footer-main"><!--start footer-main-->
	<div class="one_third">
		<h3><a href="/mathsection/1/">View Papers</a></h3>
		<p>Look into past year papers' questions and solutions!</p>
	</div>
	<div class="one_third">
		<h3><a href="/analyzer/1/">Analyzer</a></h3>
		<p>Analyze the past years' papers through interesting data mining tools, and be amazed by the results!</p>
	</div>    
	<div class="one_third column-last">
		<h3><a href="/admin/">Admin</a></h3>
		<p>Maintain the data. For Admins only.</p>
	</div>
</div><!--end footer-main-->

<div id="footer">
	<p id="footer-text">2012-2013 Math Analyzer</p>
</div>