<div class="header">
	<div id='cssmenu'>
		<ul>
			<li><a href="/index/">Home</a></li>
			<li class="has-sub ">
				<a href="/menu/">View Papers</a>
				<ul>
					<li><a href="/mathsection/1/">O-Level Additional Mathematics</a></li>
					<li><a href="#">O-Level Elementary Mathematics</a></li>
					<li><a href="#">A-Level Mathematics</a></li>
				</ul>
			</li>
			<li class="has-sub ">
				<a href="#">Analyzer</a>
				<ul>
					<li><a href="/analyzer/1/">Analyze O-Level Additional Mathematics</a></li>
					<li><a href="#">Analyze O-Level Elementary Mathematics</a></li>
					<li><a href="#">Analyze A-Level Mathematics</a></li>
				</ul>
			</li>
				
			<li class="has-sub ">
				<a href="#">Admin</a>
				<ul>
					<li><a href="/admin/">Django Admin</a></li>
					<li><a href="/math_admin/1/">Modify Additional Math</a></li>
					<li><a href="#">Modify Elementary Math</a></li>
					<li><a href="#">Modify A-Level Math</a></li>
					<li><a href="/math_admin_missing_sol/">View Missing Solution</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>