<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Online Assessment System</title>
		<link href="/static/css/style2.css" rel="stylesheet" type="text/css" media="screen" />
	</head>
	<body>
		{% include 'header.html' %}
		
		<div class="banner">
			<image alt="banner" src="/static/image/homepic.jpg" />
		</div>
		
		<div id="body-wrapper" class="clearfix">
			<div class="box">
				<h2><a href="/mathsection/1/">O-Levels Additional Mathematics</a></h2>
				<h2>O-Levels Elementary Mathematics</h2>
				<h2>A-Levels H2 Mathematics</h2>
			</div>
			
			<div class="clear"></div>
			
			{% include 'footer.html' %}
		</div>
	</body>
</html>