<div id='cssvmenu'>
	<ul>
		<li><a href="/analyzer/1/">Home</a></li>
		<li><a href="/mathsection/1/">View Paper</a></li>
		<li class="has-sub ">
			<a href="#">Paper-Based Analysis</a>
			<ul>
				<li><a href="/analyzer/1/paper/tag_cloud/">Tag Cloud</a></li>
				<li><a href="/analyzer/1/paper/topic_distribution/">Topic Distribution</a></li>
				<li><a href="/analyzer/1/paper/topic_trend/">Topic Trend Analysis</a></li>
			</ul>
		</li>
		<li class="has-sub ">
			<a href="#">Topic-Based Analysis</a>
			<ul>
				<li><a href="/analyzer/1/topic/tag_cloud/">Tag Cloud</a></li>
				<li><a href="/analyzer_cluster/1/">Question Clusters</a></li>
			</ul>
		</li>
	</ul>
</div>